/* ClientOrderHistory.css */

.coh-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1100px) {
    .coh-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .coh-grid {
        grid-template-columns: 1fr;
    }
}
